/* Подключение шрифтов */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* Подключение шрифтов */

/* Шрифты поумолчанию */
body{
    font-family: 'Roboto', sans-sherif;
}
/* Шрифты поумолчанию */

/* Style null */
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
*{
    margin: 0;
    padding: 0;
    border: 0;
}
:focus, :active {
    outline: none;
  }
  a:focus, a:active {
    outline: none;
  }
  nav, footer, header, aside {
    display: block;
  }
  html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1.5;
    font-size: 18px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  input, button, textarea {
    font-family: inherit;
  }
  input::-ms-clear {
    display: none;
  }
  button {
    cursor: pointer;
  }
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  a, a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  ul li {
    list-style: none;
  }
  img {
    vertical-align: top;
  }
  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
  }
  pre,code{
    margin:0;
    padding:0;
    border: 0;
  }
  /* Style null */
html{
  scroll-behavior: smooth;
}

.body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  min-width: 320px;
}
.wraper {
  background-color: rgba(185, 182, 182, 0.411);
}
.header__top {
  background-color: rgb(82, 240, 148);
}
.container {
  padding:0px 20px;
  max-width: 1440px;
  margin:0 auto;
  min-height: 50px;
}
.nav__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nav__list__item {
  display: list-item;
  padding: 0px 20px;
  line-height: 50px;
}
.nav__link {
  padding: 0 12px;
  font-size: 24px;
  color:#fff;
}
.nav__link:hover{
  color:grey;
}
.header__bottom {
  padding: 50px 0px;
}
.header__profile {
  display:flex;
  align-items: center;
}
.header__profile__image {
  padding:0px 0px 0px 100px;
  flex: 0 0 420px;
}
.header__profile__image img{
  max-width: 100%;
  border-radius: 20%;
  border: 5px solid grey;
}
.header__profile__title {
  text-align: center;
  flex: 1 1 auto;
}
.header__profile__top__title {
  margin:0px 0px 25px 0px;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.header__profile__sub__title {
  font-size: 20px;
  color:grey;
  letter-spacing: 4px;
  text-transform: none;
}
.main {
  margin-bottom: auto;
}
.main__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section {
  flex:0 0 50%;
  padding: 10px 0px 40px 20px;
  border-top:3px outset rgb(82, 240, 148);

}
.section__title {
  font-size: 30px;
  font-weight: 600;
  text-transform: none;
}
#contacts__link:link,
#contacts__link:visited{
  color:blue;
}
#contacts__link:hover{
  color:grey;
}
.about__text{
  margin:10px 10px 0px 10px;
}
.about__list {
  margin:10px 0px 0px 20px;
}
.about__list li {
  margin: 20px 0px 20px 20px
}
.about__list li::before {
  background:url("//izvra4ok.github.io/rsschool-cv/image/icons/about.png") center no-repeat;
  content: "";
  width: 20px;
  height: 25px;
  position: relative;
  top:5px;
  left:0;
  display: inline-block;
  padding: 0px 15px 0px 10px;
  margin: 0 12px 0px 0px;
}

.skill_list li {
  margin:10px 0px 20px 20px
}
.skill_list li::before{
  background:url("//izvra4ok.github.io/rsschool-cv/image/icons/skill.png") center no-repeat;
  content: "";
  position: relative;
  top:15px;
  left:0;
  height: 50px;
  display: inline-block;
  padding: 0px 20px 0px 10px;
  margin: 0 12px 0px 0px;
}
.pre {
  margin:10px 10px 0px 10px;
}
.education__text{
  margin:10px 10px 0px 10px;
}
.education__list {
  margin:10px 0px 0px 20px;
}
.education__list li {
  margin: 20px 0px 20px 20px
}
.education__list li::before {
  background:url("//izvra4ok.github.io/rsschool-cv/image/icons/education.png") center no-repeat;
  content: "";
  width: 20px;
  height: 20px;
  top:2px;
  left:0;
  position: relative;
  display: inline-block;
  padding: 0px 15px 0px 10px;
  margin: 0 12px 0px 0px;
}

.languages__list{
  margin:10px 0px 20px 20px
}
.languages__list li::before{
  background:url("/izva4ok.github.io/rsschool-cv/image/") center no-repeat;
  content: "";
  position: relative;
  top:15px;
  left:0;
  height: 50px;
  display: inline-block;
  padding: 0px 20px 0px 10px;
  margin: 0 12px 0px 0px;
}
.footer {
  border-top:3px outset rgb(82, 240, 148);
  padding: 20px;  
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.github {
  text-decoration: none;
  line-height: 45px;
}

.rss {
  width: 121px;
  height: 45px;
  background-image: url("//izvra4ok.github.io/rsschool-cv/image/icons/rs_school_js.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
