/* Подключение шрифтов */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* Подключение шрифтов */

/* Шрифты поумолчанию */
body{

    font-family: 'Roboto', sans-sherif;
}
/* Шрифты поумолчанию */

/* Style null */
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
*{
    margin: 0;
    padding: 0;
    border: 0;
}
:focus, :active {
    outline: none;
  }
  a:focus, a:active {
    outline: none;
  }
  nav, footer, header, aside {
    display: block;
  }
  html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1.5;
    font-size: 18px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  input, button, textarea {
    font-family: inherit;
  }
  input::-ms-clear {
    display: none;
  }
  button {
    cursor: pointer;
  }
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  a, a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  ul li {
    list-style: none;
  }
  img {
    vertical-align: top;
  }
  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
  }
  pre,code{
    margin:0;
    padding:0;
    border: 0;
  }
  /* Style null */
html{
  scroll-behavior: smooth;
}

body{
  background-color: rgba(185, 182, 182, 0.411);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  min-width: 320px;
}
.wraper {
  /* background-color: rgba(185, 182, 182, 0.411); */
}
.header__top {
  background-color: rgb(148, 148, 245)
}
.container {
  padding:0px 20px;
  max-width: 1440px;
  margin:0 auto;
  min-height: 50px;
}
.nav__list {
  position: relative;
  z-index: 2;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  justify-content: flex-end;
  align-items: center;
}
.nav__list__item {
  display: list-item;
  padding: 10px 20px 20px 0px;
  line-height: 50px;
}
.nav__link {
  position: relative;
  padding: 0 12px;
  text-decoration: none;
  font-size: 20px;
  color:#fff;
}
.nav__link::after {
  content: "";
  position: absolute;
  left: 12px;
  bottom: -5px;
  width: calc(100% - 25px);
  height: 2px;
  background-color: grey;
  opacity: 0;
  transition: .5s;
}
.nav__link:hover::after {
  opacity: 1;
  animation-name: border__bottom;
  animation-duration: 0.8s;
  animation-fill-mode:forwards;
}

@keyframes border__bottom {
  from {
    width: 0;
  }
  to {
    width: calc(100% - 25px);
  }
}
.nav__link:hover{
  color:grey;
}
.main {
  margin-bottom: auto;
}
.main__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section {
  width: 50%;
  padding: 20px 0px 40px 20px;
  border-top:3px outset rgb(148, 148, 245)
}
.section__profile {
  border: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 50px 30px 35px;
}
.section__profile__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;  
  text-transform: uppercase;
}
.section__top__title {
  padding: 0;
  margin-bottom: 20px;
  color: #000000;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 5px;
  line-height: 50px;
  word-spacing: 3px;
}
.section__subtitle {
  margin-top: 20px;
  font-size:18px;
  color: #5c5c5c;
  line-height: 50px;
  letter-spacing: 2px;
}

.section__profile__logo {
  width: 300px;
  max-width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 1px 5px 10px grey;
  margin-bottom: 20px;
}
.section__profile__logo img{
  max-width: 100%;
}
.section__title {
  letter-spacing: 5px;
  font-size: 30px;
  font-weight: 600;
  text-transform: none;
}
#contacts__link{
  position: relative;
}
#contacts__link:link,
#contacts__link:visited{
  color:blue;
}
#contacts__link:hover{
  color: grey;
}
#contacts__link::after{
  position: absolute;
  content: "";
  bottom: -1px;
  left:0px; 
  height: 2px;
  background-color: grey;
  transition: 1s;
  opacity: 0;
}
#contacts__link:hover::after{
  opacity: 1;
  animation-name: border__link;
  animation-duration: 1.5s;
  animation-fill-mode:forwards;
}
@keyframes border__link {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.about__text{
  margin:10px 10px 0px 10px;
}
.about__list {
  margin:10px 0px 0px 20px;
}
.about__list li {
  margin: 20px 0px 20px 20px
}
.about__list li::before {
  background:url("//izvra4ok.github.io/rsschool-cv/image/icons/about.png") center no-repeat;
  content: "";
  width: 20px;
  height: 25px;
  position: relative;
  top:5px;
  left:0;
  display: inline-block;
  padding: 0px 15px 0px 10px;
  margin: 0 12px 0px 0px;
}

.skill_list li {
  margin:10px 0px 20px 20px
}
.skill_list li::before{
  background:url("//izvra4ok.github.io/rsschool-cv/image/icons/skill.png") center no-repeat;
  content: "";
  position: relative;
  top:15px;
  left:0;
  height: 50px;
  display: inline-block;
  padding: 0px 20px 0px 10px;
  margin: 0 12px 0px 0px;
}
.pre {
  margin:10px 10px 0px 10px;
}
.education__text{
  margin:10px 10px 0px 10px;
}
.education__list {
  margin:10px 0px 0px 20px;
}
.education__list li {
  margin: 20px 0px 20px 20px
}
.education__list li::before {
  background:url("//izvra4ok.github.io/rsschool-cv/image/icons/education.png") center no-repeat;
  content: "";
  width: 20px;
  height: 20px;
  top:2px;
  left:0;
  position: relative;
  display: inline-block;
  padding: 0px 15px 0px 10px;
  margin: 0 12px 0px 0px;
}
.education__link{
  position: relative;
  color:blue;
}
.education__link:active,
.education__link:hover{
  color:grey;
}
.education__link::after{
  position: absolute;
  content: "";
  bottom:-1px;
  left:0;
  background-color: grey;
  width: 100%;
  opacity: 0;
  height: 2px;
  transition: 1s;
}
.education__link:hover::after{
  animation-name: education__border;
  animation-duration: 1.5s;
  opacity: 1;
  animation-fill-mode:forwards;
}
@keyframes education__border{
  from{
    width: 0;
  }
  to{
    width: 100%;
  }
}

.languages__list{
  margin:10px 0px 20px 20px
}
.languages__list li::before{
  background:url("//izvra4ok.github.io/rsschool-cv/image/icons/language.png") center no-repeat;
  content: "";
  position: relative;
  top:15px;
  left:0;
  height: 50px;
  display: inline-block;
  padding: 0px 20px 0px 10px;
  margin: 0 12px 0px 0px;
}
.footer {
  border-top:3px outset rgb(148, 148, 245);
  padding: 20px;  
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.github {
  text-decoration: none;
  line-height: 45px;
}

.rss img {
  width: 200px;

}
@media (max-width:768px){
  body{
    font-size: 16px;
    overflow-x: hidden;
  }
  .nav__header{
    display: none;
  }
  .section{
    flex: 0 0 100%;
    flex-wrap:wrap;
  }
  .section__title{
    font-size: 24px;
  }
  .section__profile{
    flex-direction: column;
    align-items: center;
  }
  .section__top__title{
    font-size: 24px;
  }
  .section__subtitle{
    font-size: 16px;
  }
  .footer-container{
    flex-direction: column;
    align-items: center;
  }
  .pre{
    display: block;
    font-family: monospace;
    white-space:pre-wrap;
  }

}
